:root {
    --cell-size: 10px;
    --content-size: calc(var(--cell-size)*0.8);
  }

body {
    background-color: black;
	font-family: arial,sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
	margin: 0;
}


/********* center elements ***************/

.center_elements {
	flex: 1;
	margin:auto;
	display:block; 
	clear: both;
	text-align:center;
}


#matrix {
	display:inline-block;
}

table { 
    border-spacing: 0;
    border-collapse: separate;
}

td {
    padding: 0px;
}

.square {
    width: var(--cell-size);
    height: var(--cell-size);
    /* margin: 0 auto; */
    /* for aligning the circles inside at the middle */
    display: table-cell;
    vertical-align: middle;
}

table, .square {
    background-color: rgb(90, 110, 180);
    border: 2px solid rgb(90, 125, 180);
}

.circle {
    background: rgb(77, 173, 68);
    width: var(--content-size);
    height: var(--content-size);
    border-radius: 50%;
    /* for aliging at the center of the square */
    display: table;
    margin-left: auto;
    margin-right: auto;
}






